/************Estilos css work***************/
.work{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	
	h2{
		color: #757575;
		text-transform: uppercase;
		font-size: 2.5em;
		text-align: center;
	}
}

.works{
	display: flex;
	flex-wrap: wrap;

	.item{
		flex: 1 1 120px;
		display: flex;
		align-items: center;
		padding-left: 1em;
		padding-top: 1em;
		justify-content: center;
	}

	.image{
		width: 180px;
	}
}